<html>
    <head>
       <title>Upload a File Using Ruby with Sinatra</title>
     </head>
    <body>
        <%= erb :_form_file, layout: false %>
        <%= erb :_list, layout: false %>
    </body>
</html>
