<html>
    <head>
       <title>Upload a File Using Ruby with Sinatra</title>
     </head>
    <body>
        <form method="post" action="/upload" enctype="multipart/form-data">
            <labeL for="my_file">File:</labeL>
            <input name="my_file" type="file" />
            <input type="submit" value="Upload">
        </form>
        </div>
    </body>

    </body>
</html>
